<!DOCTYPE html>
<html>
<head>
<title>Bienvenido a CFE TEIT!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Bienvenido al servidor web basado en nginx!</h1>
<p>Si estas viendo esta pagina, el servidor web de nginx fue instalado satisfactoriamente y
funciona correctamente. Opcionalmente, se pueden realizar configuraciones adicionales.</p>

<p>Para consultar la documentacion o recibir soporte en linea, por favor dirigete a
<a href="http://nginx.org/">nginx.org</a>.<br/>
El soporte comercial esta disponible en
<a href="http://nginx.com/">nginx.com</a>.</p>

<img src="{{url_for('static', filename='openshift-gif-cfe.gif')}}" />

<p><em><marquee>CFE Telecomunicaciones e Internet para Todos.</marquee></em></p>
</body>
</html>
